body{
  font-family: sans-serif;
}
.base {
  display: flex;
}

.navbar {
  background-color: #008080;
}

.picture{
  object-fit: cover;
  width: 100%;
}

.photo {
  height: auto;
  width: auto;
}

.loginform {
  width: 350px;
  margin: 50px auto;
  /* align-self: center; */
}

#loginbtn {
  color: #ffffff;
  background-color: #FF4500;
  font-weight: bolder;
}
#admin {
  color: #008080;
  font-weight: bold;
}

#head1 {
  color: #008080;
  font-size: large;
  font-weight: bold;
}

.search {
  width: 400px;
  color: #ffffff;
  /* height: 4px; */
  /* margin-top: 5px;
  padding-top: 5px; */
  border-radius: 10%;
}